<ion-View view-title="project2">
  <ion-content>
    <h1></h1>
    <button ng-click=proj2()>Red</button>
    <button ng-click=proj2()>Blue</button>
    <input type="text" ng-model="name" name='name'>
    <input type="text" ng-model="fatherName" name="fatherName"></input>
    <p>{{name}}</p>
    <p>{{fatherName}}</p>
    <!-- <input type="text" name="name" ng-bind=proj2()/>
    <input type="text" name="fatherName" ng-bind=proj2()/>
    <input type="text" name="school" ng-bind/> -->


  </ion-content>
</ionicView>
